html,
body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;

  background-color: #000;
  cursor: url("../img/cursor.cur"), auto;
  text-align: center;
  font-family: "M PLUS Code Latin", sans-serif;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  transform: translateX(calc((100% - 100vw) / 2));

  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.blurred {
  filter: blur(10px);
  -moz-filter: blur(10px);
  -webkit-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
}

#mute {
  position: fixed;
  height: 4vh;
  left: 1vh;
  top: 1vh;

  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

#mute:hover {
  opacity: 0.5;

  animation: spin 0.3s;
  -moz-animation: spin 0.3s;
  -webkit-animation: spin 0.3s;
  -ms-animation: spin 0.3s;
  -o-animation: spin 0.3s;
}

#paused {
  position: absolute;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  height: 40vh;

  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

#paused.visible {
  opacity: 1;
  visibility: visible;
}

a {
  cursor: url("../img/cursor.cur"), auto;
  text-decoration: none;

  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.decorationA {
  text-decoration: underline;
}

a:hover {
  color: #000;
}

p,
h1,
a {
  color: #f1f1f1;
  text-shadow: 0.06rem 0.06rem 0px rgba(8, 230, 255, 1),
    -0.06rem -0.06rem 0px rgba(255, 0, 0, 1);
  font-size: 2vh;
}

h1 {
  font-size: 5vh;
  width: fit-content;
  display: inline-block;
}

#errorH1 {
  font-size: 3vh;
}

#text {
  position: absolute;
  width: 80vw;
  left: 50vw;
  top: 70vh;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
}

#text.main {
  top: 80vh;
}

/* COPY URL POPUP  */

#popup {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(241, 241, 241, 0.5);
  text-shadow: 0.06rem 0.06rem 0px rgba(8, 230, 255, 0.5),
    -0.06rem -0.06rem 0px rgba(255, 0, 0, 0.5);
  font-size: 2vh;

  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: fit-content;
  max-width: 80vw;
  left: 50vw;
  top: 50vh;
  border-radius: 1rem;
  padding: 0.5rem;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}

#popup.main {
  top: 70vh;
}

#popup.visible {
  opacity: 1;
  visibility: visible;
}

/* CONTEXT MENU */

#contextMenu {
  position: fixed;
  display: none;
  max-height: 15vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1rem;
  transform: translateX(min(var(--mouse-x), calc(100vw - 100%)))
    translateY(min(var(--mouse-y), calc(100vh - 100%)));
}

#contextMenu::-webkit-scrollbar {
  width: 0.7rem;
}

#contextMenu::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 1rem;
}

/* SETTINGS MENU */

#settingsSVG {
  position: fixed;
  height: 4vh;
  right: 1vh;
  top: 1vh;
}

#settings {
  position: absolute;
  right: 1vw;
  top: 5vh;
  width: fit-content;
  min-width: 5vw;
  min-height: 3vh;

  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

#settingsContent {
  display: none;
  position: absolute;
}

#settingsContent a {
  display: block;
}

#settings:hover #settingsContent {
  display: contents;
}

#settings:hover #settingsSVG {
  opacity: 0.5;

  animation: spin 0.3s;
  -moz-animation: spin 0.3s;
  -webkit-animation: spin 0.3s;
  -ms-animation: spin 0.3s;
  -o-animation: spin 0.3s;
}

#settings:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
}

/* FADE IN START ANIMATION */

@keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

/* SPIN ANIMATION */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
