html,
body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;

  background-color: #000;
  cursor: url("../img/cursor.cur"), auto;
  text-align: center;
  font-family: "M PLUS Code Latin", sans-serif;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  transform: translateX(calc((100% - 100vw) / 2));
}

#mute {
  position: fixed;
  height: 4vh;
  left: 1vw;
  top: 1vh;

  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

#mute:hover {
  opacity: 0.5;

  animation: spin 0.3s;
  -moz-animation: spin 0.3s;
  -webkit-animation: spin 0.3s;
  -ms-animation: spin 0.3s;
  -o-animation: spin 0.3s;
}

/* #mute:not(:hover) {
  animation: spinReverse 0.3s;
  -moz-animation: spinReverse 0.3s;
  -webkit-animation: spinReverse 0.3s;
  -ms-animation: spinReverse 0.3s;
  -o-animation: spinReverse 0.3s;
} */

a {
  cursor: url("../img/cursor.cur"), auto;
  text-decoration: none;

  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

#decorationA {
  text-decoration: underline;
}

a:hover {
  color: #000;
}

p,
h1,
a {
  color: #f1f1f1;
  text-shadow: 1px 1px 0px rgba(8, 230, 255, 1),
    -1px -1px 0px rgba(255, 0, 0, 1);
  font-size: 2vh;
}

h1 {
  font-size: 5vh;
}

#errorH1 {
  font-size: 3vh;
}

#text {
  width: 80vw;
  position: absolute;
  left: 50vw;
  top: 70vh;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
}

#mainPageText {
  width: 80vw;
  position: absolute;
  left: 50vw;
  top: 80vh;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
}

/* copy url popup */

#popup {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(241, 241, 241, 0.5);
  text-shadow: 1px 1px 0px rgba(8, 230, 255, 0.5),
    -1px -1px 0px rgba(255, 0, 0, 0.5);
  font-size: 2vh;

  visibility: hidden;
  border-radius: 0.5vw;
  padding: 0.25vw;
  width: fit-content;
  max-width: 80vw;
  position: absolute;
  left: 50vw;
  top: 70vh;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#popup.visible {
  visibility: visible;

  animation: popupFadein 0.5s, popupFadeout 0.5s 5s;
  -moz-animation: popupFadein 0.5s, popupFadeout 0.5s 5s;
  -webkit-animation: popupFadein 0.5s, popupFadeout 0.5s 5s;
  -ms-animation: popupFadein 0.5s, popupFadeout 0.5s 5s;
  -o-animation: popupFadein 0.5s, popupFadeout 0.5s 5s;
}

/* settings menu */

#settingsSVG {
  position: fixed;
  height: 4vh;
  right: 1vw;
  top: 1vh;
}

#settings {
  position: absolute;
  right: 1vw;
  top: 5vh;
  width: fit-content;
  min-width: 5vw;
  min-height: 3vh;

  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

#settingsContent {
  display: none;
  position: absolute;
}

#settingsContent a {
  display: block;
}

#settings:hover #settingsContent {
  display: contents;
}

#settings:hover #settingsSVG {
  opacity: 0.5;

  animation: spin 0.3s;
  -moz-animation: spin 0.3s;
  -webkit-animation: spin 0.3s;
  -ms-animation: spin 0.3s;
  -o-animation: spin 0.3s;
}

/* #settings:not(:hover) #settingsSVG {
  animation: spinReverse 0.3s;
  -moz-animation: spinReverse 0.3s;
  -webkit-animation: spinReverse 0.3s;
  -ms-animation: spinReverse 0.3s;
  -o-animation: spinReverse 0.3s;
} */

#settings:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5vw;
  padding: 0.5vw;
}

/* fade in start animation */

@keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

/* popup animation */

@keyframes popupFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes popupFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes popupFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes popupFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes popupFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popupFadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes popupFadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes popupFadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-ms-keyframes popupFadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes popupFadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* spin animation */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-moz-keyframes spinReverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes spinReverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-ms-keyframes spinReverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-o-keyframes spinReverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
