RewriteEngine On

Options -Indexes

Redirect 301 /bot https://discord.com/oauth2/authorize?client_id=728580712290189314&permissions=275884911830&scope=applications.commands%20bot

Redirect 301 /bot/ https://discord.com/oauth2/authorize?client_id=728580712290189314&permissions=275884911830&scope=applications.commands%20bot