RewriteEngine On
Redirect 301 /bot/ https://discord.com/oauth2/authorize?client_id=728580712290189314&scope=bot&permissions=8

Redirect 301 /hws/ https://discord.gg/ufTw6PMuTt

Redirect 301 /steam/ https://steamcommunity.com/id/senbey

Redirect 301 /twitter/ https://twitter.com/senbeyxd
