html,
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #000;
  cursor: url("./img/cursor.cur"), auto;
  text-align: center;
  font-family: "M PLUS Code Latin", sans-serif;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  transform: translateX(calc((100% - 100vw) / 2));
}

#mute {
  position: absolute;
  height: 4vh;
  left: 1vw;
  top: 1vh;

  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}

#mute:hover {
  opacity: 0.5;
}

a {
  color: #f1f1f1;
  cursor: url("./img/cursor.cur"), auto;
  text-decoration: none;

  transition: all 300ms;
  -webkit-transition: all 300ms;
  -ms-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}

a:hover {
  color: #000;
}

#text {
  color: #f1f1f1;
  text-shadow: 1px 1px 0px rgba(8, 230, 255, 100),
    -1px -1px 0px rgba(255, 0, 0, 100);
  font-size: 1.5vh;

  width: 80vw;
  position: absolute;
  left: 50vw;
  top: 80vh;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

#text h1 {
  font-size: 5vh;
}

@keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
    left: -0vw;
  }
  to {
    opacity: 1;
    left: 50vw;
  }
}
